---
layout: archive
title: "Gallery"
permalink: /gallery/
author_profile: true
---

{% include base_path %}

{% for post in site.gallery reversed %}
  {% include archive-single.html %}
{% endfor %}


<h2> In the alternative universe</h2>
<p>Some of the fun stuff I am interested in.</p>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <h3>Outdoors</h3>
      <img src="http://NatyaHans.github.io/images/outdoor1.jpg" alt="Rope Climbing" style="width:40%">
      <img src="http://NatyaHans.github.io/images/bird.jpg" alt="Bird Nerd" style="width:30%">
      <img src="http://NatyaHans.github.io/images/Rock.jpg" alt="Rock" style="width:40%">
      <img src="http://NatyaHans.github.io/images/Rope.jpg" alt="Rope" style="width:40%">
      <img src="http://NatyaHans.github.io/images/galapagostortoise.jpg" alt="Gallapagos" style="width:40%">
      <p>I enjoy the outdoors especially hiking and rock climbing.  </p>
    </div>
  </div>
  <!-- Deleting the Baked goods
  <div class="column">
    <div class="content">
      <h3>Cooking and Baking </h3>
      <img src="http://NatyaHans.github.io/files/" alt="Baked goods" style="width:40%">
      <p>I love cooking, may be more than baking. I love trying different cuisines </p>
    </div>
  </div>
   --->
  <div class="column">
    <div class="content">
      <h3>Dancer for Life</h3>
      <img src="http://NatyaHans.github.io/images/dance.jpg " alt="Salsa" style="width:40%">     
      <p>Whenever I can, I escape into the non-nerdiest thing I love and am passionate about. I have been dancing salsa for few years now.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <h3>Happy feet travels</h3>
      <img src="http://NatyaHans.github.io/images/florence.jpg" alt="Florence" style="width:40%">  
      <p>World is too big to explore, and I have seen very little of it. This picture is from my recent trip to Florence,Italy.</p>
    </div>
  </div>
</div>

<!-- Deleting the Art part
<div class="content">
  <h3>Art Love</h3>
  <img src="http://NatyaHans.github.io/files/louvre.jpg" alt="Louvre" style="width:40%" data-rotate="90">
  
  <p>It is my mission to see as many Art Museums as I can. My favorite ones are Louvre, Orsay and Uffizi</p>
</div>
--->

<!-- Deleting the Self Defense
<div class="content">
  <h3>Personal Growth</h3>
  <img src="http://NatyaHans.github.io/files/selfdefense.jpg" alt="Self Defense" style="width:40%">
  
  <p>Self Defense with University of Florida, Police Department</p>
</div>
--->
